{% extends 'base.html' %} {% load static %} {% block content %}
<div class="page">
  <header>
    <div class="logo">Petals</div>
    <nav>
      <a href="#">Cart</a>
      <a href="#">Reservation</a>
      <a href="#">About Us</a>
    </nav>
    <div class="icons">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-instagram"></i>
    </div>
  </header>

  <div class="add-btn-div">
    <a href="{% url 'flower_category_create' %}">
      <button class="add-btn">Add Flower Category</button>
    </a>
  </div>

  <div class="gallery">
    {% for category in categories %}
    <div class="item">
      <a href="{% url 'flower_list' category.pk %}">
        {% if category.image %}
        <img src="{{ category.image.url }}" alt="{{ category.name }}" />
        {% else %}
        <img
          src="{% static 'images/default-flower.png' %}"
          alt="{{ category.name }}"
        />
        {% endif %}
      </a>
      <div class="item-title">{{ category.name }}</div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
