{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %} {% block content %}
<div class="container">
  <div class="login-card">
    <!-- Left Content -->
    <div class="login-left">
      <h1 class="brand-title">Petals</h1>
      <p class="tagline">Where every bloom tells a story</p>

      <form>
        <label>Email</label>
        <input type="email" placeholder="" />

        <label>Password</label>
        <input type="password" placeholder="" />

        <button
          type="submit"
          class="login-btn"
          onclick="window.location.href='home'; return false;"
        >
          Login
        </button>
      </form>
    </div>

    <!-- Right Image -->
    <div class="login-right">
      <img src="{% static 'images/flower2.png' %}" alt="Flower Bouquet" />
    </div>
  </div>
</div>
{% endblock %}
